[MASTER]
ignore=migrations,test,tests,tests.py,urls.py,

# run 1 pylint process
jobs=1
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=C0111, # missing docstring
       # W0232  # class has no __init__ method

[REPORTS]
# Sonarqube report format
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}